About Page
.sub-page {
  background: #0d1117;
  color: #ffffff;
  overflow-x: hidden;

  
  
}

/* Hero Div */
/* Hero Div */

/* Floating Animated Gallery */
.hero {
  position: relative;
  width: 100%;
 height: 50vh;
  overflow: hidden;
  background: transparent;
  z-index: 1;
  background-image:url(https://i.gifer.com/8F3E.gif);
  background-position: center;
  border-radius:40px ;
  -webkit-border-radius:40px ;
  -moz-border-radius:40px ;
  -ms-border-radius:40px ;
  -o-border-radius:40px ;

}




.hero-section {
  font-family: 'Times New Roman', Times, serif;
  padding: 10rem 2rem;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;


  
  /* background: url('../img/1.png') center/contain;
  background-repeat: no-repeat;
  filter: drop-shadow(1px 2px 10px blue ) ;
  z-index: -1;
  transition: transform 0.4s ease-out;
  -webkit-filter: drop-shadow(1px 2px 10px blue ) ; */
}


.hero-section h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
}

.hero-section h4 {
  font-weight: 500;
  color: #0d00ff;
  margin-bottom: 1.5rem;
}

.hero-section h6 {
  font-size: 30px;
}

.hero-section ul {
  font-size: 30px;
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  text-align: left;

  display: flex;
  align-items: center;
}

.hero-section ul li {
  margin: 0.3rem 0;
}

.hero-section p {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.9;
  margin-bottom: 1.5rem;
  text-align: left;
}

.hero-section a {
  color: #0d00ff;
  text-decoration: none;
}

.hero-section a:hover {
  text-decoration: underline;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.social-links a {
  color: #ccc;
  font-weight: 500;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0d00ff;
}


/* Main Content */


/* https://vegaprotocol.github.io/alpha-lyrae/ */

@font-face {
	font-family: 'AlphaLyrae';
	src: url('../fonts/AlphaLyrae-Medium.woff2') format('woff2'),
	url('../fonts/AlphaLyrae-Medium.woff') format('woff');
	font-style: normal;
}

@font-feature-values 'AlphaLyrae' { 
  @styleset { ss01: 1; ss02: 2; ss03: 3; ss04: 4; ss05: 5 } 
}

/* :root {
	font-size: 13px;
	--color-text: #fff;
	--color-bg: #000;
	--color-link: #fff;
	--color-link-hover: #fff;
	--img-width: 190px;
	--img-ratio: 1.1;
	--img-offset-x: 20px;
	--img-offset-y: 20px;
	--img-border-radius: 7px;
	--color-bg-content: rgba(255,255,255,0.05);
	--color-bg-demos: rgba(255,255,255,0.05);
} */




.content3d {
	grid-area: content;
	border-radius: 8px;
	/* background: var(--color-bg-content); */
	position: relative;
	z-index: 1;

}

.content3d__img {
	width: var(--img-width);
	aspect-ratio: var(--img-ratio);
	border-radius: var(--img-border-radius);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	will-change: transform, filter;
}

.demo-7 .content3d__img {
	mix-blend-mode: screen;
}

.demo-8 .content3d__img {
	overflow: visible;
}

.content3d__img-inner {
	background-position: 50% 50%;
	width: calc(100% + var(--img-offset-x));
	height: calc(100% + var(--img-offset-y));
	background-size: cover;
	position: absolute;
	top: calc( -1 * var(--img-offset-y) / 2 );
	left: calc( -1 * var(--img-offset-x) / 2 );
}






/* Frames Style */

#frames {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;

}












/* Responsives devices */

@media (max-width: 768px) {


  .hero-section {
  font-family: 'Times New Roman', Times, serif;
  padding: 0rem 2rem;
  padding-top: 4em;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;

  font-size: 30px;

  
  /* background: url('../img/1.png') center/contain; */
  /* background-repeat: no-repeat;
  filter: drop-shadow(1px 2px 10px blue ) ;
  z-index: -1;
  transition: transform 0.4s ease-out;
  -webkit-filter: drop-shadow(1px 2px 10px blue ) ; */
}


.hero-section h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-shadow: 0 0 20px #00fffb, 0 0 20px #0081bc;
}

.hero-section h4 {
  font-weight: 500;
  color: #0d00ff;
  /* margin-bottom: 1.5rem; */
  
}

.hero-section ul {
  font-size: 30px;
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  text-align: center;
  display: block;
}

.hero-section ul li {
  margin: 0.3rem 0;
}

.hero-section p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  
  text-align: center;


  font-weight: 700;
  color: #ffffff;
  line-height: 1;
  /* margin-bottom: 1.5rem; */
  /* text-align: left; */
}
.toolong {
  display: none;
}

.hero-section a {
  color: #6c63ff;
  text-decoration: none;
}

.hero-section a:hover {
  text-decoration: underline;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

.social-links a {
  text-align: center;
  color: #ccc;
  font-weight: 500;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #0d00ff;
}













}


/* For Bigger Devices */

@media (min-width: 769px) {
  .toolong2{
    display: none ;
  }

  


}