/* ==============================
   About Page Styles
============================== */

.sub-page {
  background: #0d1117;
  color: #ffffff;
  overflow-x: hidden;
}

/* About Section */
.about-section {
  font-family: 'Times New Roman', Times, serif;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.about-section h1 {
  padding: 1rem;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.about-section h4 {
  font-weight: 500;
  color: #0d00ff;
  margin-bottom: 1.5rem;
}

.about-section h6 {
  font-size: 30px;
}

.about-section ul {
  font-size: 30px;
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.about-section ul li {
  margin: 0.3rem 0;
}

.about-section p {
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.9;
  margin-bottom: 1.5rem;
  text-align: left;
}

.about-section a {
  color: #0d00ff;
  text-decoration: none;
}

.about-section a:hover {
  text-decoration: underline;
}

/* ==============================
   Responsive Styles
============================== */
@media (max-width: 768px) {

  .about-section {
    padding-top: 2em;
    font-size: 18px;
    text-align: center;
  }

  .about-section h1 {
    font-size: 2rem;
  }

  .about-section h4 {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
  }

  .about-section ul {
    font-size: 30px;
    text-align: center;
    display: block;
  }

  .about-section ul li {
    margin: 0.3rem 0;
  }

  .about-section p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
  }

  .about-section a {
    color: #6c63ff;
  }

  .toolong {
    display: none;
  }
}

/* ==============================
   Styles for Larger Devices
============================== */
@media (min-width: 769px) {
  .about-section {
    padding: 2rem;
  }
}
