/* NAVIGATION btn */
/* Bio & Back btn */

a {
  text-decoration: none;
  


}


/* Bio & Back btn */
/* Bio & Back btn */
.navigation-button
{
    position: fixed;
    z-index: 1;
    top: 10%;
    right: 0;

    cursor: pointer;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.navigation-button p
{
  font-size: 1.5rem;
  font-weight: 400;
  
  margin: 0;
  /* padding: .3em 3em .3em 1.8em; */
  padding: .3em .6em .3em 1.8em;
  
  -webkit-transition: .15s ease;
  -o-transition: .15s ease;
  transition: .15s ease;
  letter-spacing: .01em;
  
  color: #ff0000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.navigation-button:hover p
{
  background: #fff;
  padding: .1em 4em .1em 1.8em;

  background-image: url(../img/eyelooping.gif);
  background-position: center;
  background-size: cover;
  
}



/* 2nd */
.navigation-button2nd
{
    position: fixed;
    z-index: 1;
    top: 20%;
    right: 0;

    cursor: pointer;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.navigation-button2nd p
{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: .3em 3em .3em 1.8em;
  -webkit-transition:;
  -o-transition:;
  transition: .15s ease;
  letter-spacing: .01em;
  color: #ff0000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  -moz-transition:;
  -ms-transition:;
}

.navigation-button2nd:hover p
{
  /* background: #fff; */
  padding: .3em 4em .3em 1.8em;


  background-image: url(../img/eyelooping.gif);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}


/* 3rd */
.navigation-button3rd
{
    position: fixed;
    z-index: 1;
    top: 25%;
    right: 0;

    cursor: pointer;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.navigation-button3rd p
{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: .3em 3em .3em 1.8em;
  -webkit-transition:;
  -o-transition:;
  transition: .15s ease;
  letter-spacing: .01em;
  color: #ff0000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  -moz-transition:;
  -ms-transition:;
}

.navigation-button3rd:hover p
{
  background: #fff;
  padding: .3em 4em .3em 1.8em;


  background-image: url(../img/clin.gif);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}



/* 4th */
.navigation-button4th
{
    position: fixed;
    z-index: 1;
    top: 30%;
    right: 0;

    cursor: pointer;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.navigation-button4th p
{
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding: .3em 3em .3em 1.8em;
  -webkit-transition:;
  -o-transition:;
  transition: .15s ease;
  letter-spacing: .01em;
  color: #ff0000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  -moz-transition:;
  -ms-transition:;
}

.navigation-button4th:hover p
{
  background: #fff;
  padding: .3em 4em .3em 1.8em;


  background-image: url(../img/3d.gif);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}





/* 5th */
.navigation-button5th
{
    position: fixed;
    z-index: 1;
    top: 80%;
    right: 0;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

.navigation-button5th p
{
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  padding: .1em 3em .1em 1.8em;
  
  transition: .15s ease;
  letter-spacing: .01em;
  color: #ff0000;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
 
}

.navigation-button5th:hover p
{
  /* background: #fff; */
  padding: .1em 4em .1em 1.8em;


  background-image: url(../img/eyelooping.gif);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;





}





/* ICONS */
/* ICONS */
/* ICONS */

.merch {
  position: fixed; 
  top: 2%; 
  right: 10px;
}