.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

h3 {
  font-size: 1.5rem;
  line-height: 1; /* safer for tight text */
  transform: rotateX(0) rotateY(-25deg);
  text-transform: uppercase;
  width: 400px;
  text-align: center;
  color: #fff;
  font-family: "Abril Fatface", serif;
  margin: auto;
  position: relative;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 15px #fff,
    0 0 20px #228dff,
    0 0 35px #228dff,
    0 0 40px #228dff;
}

h3 span {
  display: inline-block;
}

h3 span:nth-child(1) { transform: translateZ(10px); }
h3 span:nth-child(2) { transform: translateZ(5px); }
h3 span:nth-child(3) { transform: translateZ(8px); }
h3 span:nth-child(4) { transform: translateZ(20px); }
h3 span:nth-child(5) { transform: translateZ(6px); }
h3 span:nth-child(6) { transform: translateZ(20px); }
